
@{
    ViewBag.Title = "Xoá nhân viên";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="">

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh</label>
                <div class="col-sm-10">
                    <img src="~/Img/vp.jpg" alt="Ảnh chưa được hiển thị" width="200" height="200" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhân viên</label>
                <div class="col-sm-10">
                    <p class="form-control-static">Phạm Vũ</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">pv@gmail.com</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mật khẩu</label>
                <div class="col-sm-10">
                    <p class="form-control-static">123456</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Đồng ý xoá
                    </button>

                    <a href="~/Supplier" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

